<a href="https://colab.research.google.com/github/lazuardi100/Hexa-Engineer/blob/ML/Implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
try:
    %tensorflow_version 2.x
except:
    pass

In [75]:
import tensorflow as tf
import tensorflow_hub as hub
import pandas as pd
import numpy as np

In [52]:
#DATASET SOURCE FROM https://github.com/dbrehmer/Knowself/blob/master/data/mypersonality/essays.csv"
#DATASET USED IN THIS NOTEBOOK IS DATASET FROM THE SOURCE THAT HAS BEEN TRANSLATED TO BAHASA INDONESIA USING GOOGLE TRANSLATE

DATASET_URL = "https://raw.githubusercontent.com/lazuardi100/Hexa-Engineer/ML/Dataset/dataset.csv"
df = pd.read_csv(DATASET_URL, sep =',')

df.head()

           #AUTHID                                              TTEXT  ... cCON cOPN
0  1997_504851.txt  Nah, sekarang saya baru saja bangun dari tidur...  ...    n    y
1  1997_605191.txt  Nah, di sini kita pergi dengan arus kesadaran ...  ...    n    n
2  1997_687252.txt  Keyboard terbuka dan tombol untuk mendorong. H...  ...    y    y
3  1997_568848.txt  Aku tidak percaya itu! Ini benar-benar terjadi...  ...    y    n
4  1997_688160.txt  Nah, di sini aku pergi dengan aliran tua yang ...  ...    n    y

[5 rows x 7 columns]

In [66]:
data = df['TTEXT']
label_ext  = df['cEXT']
label_neu  = df['cNEU']
label_agr  = df['cAGR']
label_con  = df['cCON']
label_opn  = df['cOPN']

In [67]:
def changeLabel(labels):
  for index, values in enumerate(labels.values):
    if values == 'n':
      labels[index] = 0
    else:
      labels[index] = 1
  return labels

label_ext = changeLabel(label_ext)
label_neu = changeLabel(label_neu)
label_agr = changeLabel(label_agr)
label_con = changeLabel(label_con)
label_opn = changeLabel(label_opn)

In [79]:
dataset_ext = tf.data.Dataset.from_tensor_slices((data.values, label_ext.values.astype(dtype=np.float32)))
dataset_neu = tf.data.Dataset.from_tensor_slices((data.values, label_neu.values.astype(dtype=np.float32)))
dataset_agr = tf.data.Dataset.from_tensor_slices((data.values, label_agr.values.astype(dtype=np.float32)))
dataset_con = tf.data.Dataset.from_tensor_slices((data.values, label_con.values.astype(dtype=np.float32)))
dataset_opn = tf.data.Dataset.from_tensor_slices((data.values, label_opn.values.astype(dtype=np.float32)))